body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: #111;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 35px rgba(253, 185, 39, 0.4);
    text-align: center;
}

h1 {
    color: #fdb927;
}

.subtitle {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

select {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 12px;
    background: #c8102e;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #a50e26;
}

.result {
    margin-top: 25px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

.winner {
    font-size: 20px;
    color: #00ff99;
    margin-top: 10px;
}

.error {
    color: #ff4c4c;
    margin-top: 15px;
    font-weight: bold;
}
